[user]
	name = Chris Rickard
	email = 103567821+rickardc@users.noreply.github.com
[core]
	excludesfile = /home/chris/.gitignore_global
	editor = nano
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
